<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Cluburi Sportive</title>
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>

<div>
  <a th:href="@{/clubsportiv/formclub}">
    <button class="btn btn-primary">Adauga Club</button>
  </a>
  <h1 id="titlu" th:text="${titlu}"/>
</div>

<div class="container-fluid">

<table class="table table-dark">
  <thead>
  <td>Id</td>
  <td>Nume</td>
  <td>Numar Jucatori</td>
  <td>Vechime</td>
  <td>Trofee</td>
  </thead>
  <tbody>
  <tr th:each="club : ${cluburi}">
    <td th:text="${club.id}"/>
    <td> <a th:href="@{/clubsportiv/{id}(id=${club.id})}" th:text="${club.nume}"></a></td>
    <td th:text="${club.nrJucatori}"/>
    <td th:text="${club.vechime}"/>
    <td th:text="${club.trofee}"/>
  </tr>
  </tbody>
</table>

</div>

</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>