<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cluburi Sportive</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>


<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="row">

            <div class="col col-1">
                <a th:href="@{/clubsportiv}">
                    <button class="btn btn-warning" style="margin: 20px; margin-right: 10px;">Home</button>
                </a>
            </div>

            <div class="col col-2">
                <a th:href="@{/clubsportiv/{id}/formjucatori(id=${club.id})}">
                    <button class="btn btn-warning" style="margin: 20px; margin-left: 10px;">Adaugă Jucator</button>
                </a>
            </div>

            <div class="col col-8" style="text-align: center">
                <h1 id="titlu" style="margin: 20px" th:text="${titlu}"/>
            </div>
            <div class="col col-3">

            </div>
        </div>
    </div>
</div>



<div class="container-fluid">

    <table class="table table-warning">
        <thead>
        <td>Id</td>
        <td>Nume</td>
        <td>Varsta</td>
        <td>Vechime</td>
        <td>Actiune</td>
        </thead>
        <tbody>
        <tr th:each="jucator : ${jucatori}">
            <td class="w-25" th:text="${jucator.id}"/>
            <td class="w-25" th:text="${jucator.nume}"/>
            <td class="w-25" th:text="${jucator.varsta}"/>
            <td class="w-25" th:text="${jucator.vechime}"/>
            <td class="w-25">
                <div class="container-fluid" style="display: flex; justify-content: center; margin: 0px">
                    <a th:href="@{/jucatori/{id}/editjucatorform(id=${jucator.id})}">
                        <button class="btn btn-warning" style="margin: 5px">EDIT</button>
                    </a>
                    <p></p>
                    <a th:href="@{/jucatori/{id}/stergeJucator(id=${jucator.id})}">
                        <button class="btn btn-danger" style="margin: 5px">DELETE</button>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
<script th:src="@{/js/script.js}"/>
</html>